.link {
  text-decoration: none;
  padding: 12px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer; }
  .link:hover {
    background-color: #956676;
    text-decoration: none;
    color: #FFFFFF; }
  .link:active {
    text-decoration: none;
    color: #FFFFFF; }
  .link:focus {
    text-decoration: none;
    color: #FFFFFF; }

.active {
  background-color: #956676; }
