.aplicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  cursor: pointer;
  flex-direction: column;
  transition-duration: 0.5s;

  .aplicacion-icon {
    svg {
      color: rgba(0, 0, 0, 0.54) !important;
    }
  }

  .aplicacion-nombre {
    color: rgba(0, 0, 0, 0.54);
  }

  &:hover {
    background-color: #793551;

    .aplicacion-icon {
      svg {
        color: #ffffff !important;
      }
    }

    .aplicacion-nombre {
      color: #ffffff;
    }
  }
}
