.contenedor-baner {
  background-color: #f5f5f5; }
  .contenedor-baner .banner {
    height: 120px;
    display: flex; }
    .contenedor-baner .banner img {
      height: 100%; }
    .contenedor-baner .banner .leyendas {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      padding: 12px; }
      .contenedor-baner .banner .leyendas .tec-nacional {
        font-size: 20px;
        color: #98979C;
        font-weight: bold; }
      .contenedor-baner .banner .leyendas .tec-saltillo {
        font-size: 18px;
        color: #98979C; }
    .contenedor-baner .banner .logo-tec {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .contenedor-baner .banner .logo-tec img {
        height: 80px; }
